$colorBase1: #531946;
$colorBase2: #fff;
$colorSecundario: chocolate;
$fontColor: #000000;

$smallFont: 16px;
$mediumFont: 18px;
$largeFont: 24px;

$fontFamily: 'Times New Roman';

$containerHeight: 500px;

