# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Parcel
.parcel-cache/
.cache/
dist/

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.idea/
.vscode/
*.swp
